/* RESET  */

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL */

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: #f2f2f2;
}

/* HEADER  */

header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: midnightblue;
  background: #999;
  z-index: 10;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.logo-livre {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 1rem;
  left: 5rem;
}

.logo-livre-2 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 1rem;
  right: 5rem;
}

.subtitle {
  font-size: 0.9rem;
  padding-bottom: 15px;
}

/* MAIN */

main {
  display: grid;
  padding: 12% 5% 5% 5%;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.div-container {
  position: relative;
  box-shadow: 5px 5px 15px #000;
  height: 350px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 60% 1fr 1fr 1fr 1fr;
  text-align: center;
  place-items: center;
  padding-bottom: 15px;
}

.coverage {
  width: 100%;
  height: 100%;
  padding: 15% 5%;
  grid-area: 1 / 1 / 2 /2;
}

.amazon-logo {
  width: 50px;
  height: 50px;
  transition: transform 1s;
}

.amazon-logo:hover {
  transform: scale(1.2);
}

.amazon-link {
  grid-area: 5 / 2 / 6 / 3;
  margin: 10px;
}

.div-container h2 {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  grid-area: 1 / 2 / 2 / 3;
}
.div-container p {
  padding: 5px;
}

.author {
  grid-area: 2 / 1 / 3 / 3;
}

.date {
  grid-area: 3 / 1 / 4 / 3;
}

.pages {
  grid-area: 4 / 1 / 5 / 3;
}

.suppr-button {
  border-style: none;
  grid-area: 1 / 2 / 2 / 3;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.suppr-img {
  width: 25px;
  height: 25px;
  transition: transform 1s;
}

.suppr-img:hover {
  transform: scale(1.5);
}

#select-author {
  position: absolute;
  top: 130px;
  padding: 10px;
  left: 100px;
  font-size: 1rem;
}

/* FOOTER  */

footer {
  display: flex;
  height: 5vh;
  width: 100%;
  position: fixed;
  top: calc(100% - 5vh);
  background: #222;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: #f1f1f1;
}

@media screen and (max-width: 1350px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 150px;
  }
  .logo-livre,
  .logo-livre-2 {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  header {
    text-align: center;
  }
  main {
    gap: 15px;
  }
  .div-container h2 {
    font-size: 1.1rem;
  }
  .div-container p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .div-container h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 650px) {
  .div-container h2 {
    font-size: 1rem;
  }
  main {
    gap: 5px;
  }
  .subtitle {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  main {
    grid-template-columns: 1fr;
  }
  .div-container {
    width: 75%;
  }

  .div-container h2 {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }
  footer {
    font-size: 0.7rem;
    height: 3vh;
    top: calc(100% - 3vh);
  }
}

@media screen and (max-width: 350px) {
  .div-container h2 {
    font-size: 0.9rem;
  }
}
